
html {

    height: 100%;
    width: 100%;
    margin: auto;
}

body {

    background-image: url("bg.jpg");
    background-size: cover;
    background-color: #008ad3;
    color: white;
    margin: auto;
    height: 100%;
    width: 100%;
}
    
#dataoverlay {
    
    border-radius: 25px;
    /*background-image: url("clear.jpg");*/
    background-size: cover;
    padding: 20px;
    height: max-content;
    align-self: center;
    top: 60px;
    z-index: -1;
    width: max-content;
    position: relative;
    display: block;
    margin: auto;
    background-color: #008ad3;
    border-width: medium;
    border-block: black;
    opacity: .8;
    
 }

#header {

    text-align: center;
    align-self: center;
    position: relative;
    top: 50px;
    color: black;

}

#showDate {

    text-align: left;
    font-size: small;
    color: black;
    
}

#openweather {

    width: max-content;
    height: max-content;
    position: relative;
    display: block;
    padding: 0px;
    left: 10px;

}

#searchform {

    display: block;

}

#showDate {

    font-size: small;
    align-self: center;
    text-align: center;

}

#nav {

    border-radius: 10px;
    background-color: #008ad3;
    padding: 8px;
    position: relative;
    top: 5px;
    opacity: .8;
    color: white;
}

#submitbutton {

    border-radius: 5px;
    color: white;
    background-color: #e1e1e1;
    color: black;
}

#searchcity {

    border-radius: 5px;

}